@model IEnumerable<ProductMvc.Models.Produk>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Produks" asp-action="Index">
    <p>
        Search : <input type="text" name="search" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="Produks" asp-action="Index">
    <p>
        <input type="submit" value="All" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama_Barang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kode_Barang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jumlah_Barang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama_Barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kode_Barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah_Barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
